.login-page-kiosk {
  background-image: url('@/assets/backgroundnew.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;

  .container-wrapper {
    background: transparent;
    min-height: 100vh;
  }
  
  
  .login-card {
    background-color: #06155A !important;
    color: white !important;
    border-radius: 10px !important;
  }

  .card-title {
    font-weight: semibold !important;
    font-size: 28px;
    justify-content: center;
    text-align: center;;
  }

  .field-label {
    color: white;
    font-weight: regular;
    font-size: 16px;
    text-align: left;
    margin-bottom: 4px;
    margin-left: 4px;
  }

  .logo-kiosk {
    max-height: 100px;
  }

  .login-button {
    background-color: #F4941C !important;
    color: white !important;
    width: 150px !important;
    height: 50px !important;
    border-radius: 8px !important;
    font-size: 20px !important;
  }
}