.sidebar {
  background-color: #0d1a5e; /* biru tua */
  color: white;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-img {
  height: 3rem;
}

.active-link {
  background-color: #1e3a8a !important; 
  color: white !important;
}